{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel='icon' href="{% static '/admin/img/AccuracySingle.png'%}" type='image/x-icon'>
    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/header.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{%block content %}
  replace me
{%endblock%}

<div id="appointmentBlock">

    <div id="appd">
<h1>Schedule An Appointment</h1>
        <a href="/appointment"><span class="button">Schedule Today</span></a>
    </div>

    <div id="appd2">
        <h1>Accuracy | Pro</h1>
        <h2>Coming Soon</h2>
    </div>

</div>