{% load staticfiles %}

<div id="footer">
    <div class="footColumn logoInfo">
        <a href="/"><img src="{% static '/admin/img/AccuracyFbla.png' %}" /></a>
        <h3>478-879-9721</h3>
    </div>
    <div class="footColumn Index">
        <h3>Services</h3>
        <a href=""><p>Pricing/Rates</p></a>
        <a href=""><p>Consulting</p></a>
    </div>
    <div class="footColumn Index">
        <h3>Company</h3>
        <a href=""><p>About</p></a>
        <a href=""><p>Our Staff</p></a>
    </div>
    <div class="footColumn Index">
        <h3>Have A Question?</h3>
        <a href=""><p>FAQ</p></a>
        <a href=""><p>Support</p></a>
    </div>
</div>