{% extends 'AccountBase.html' %}

{% load static %}

{%block content %}

<title>{{ user.user }} - Accuracy</title>

<link rel="stylesheet" type="text/css" href="{% static '/admin/css/profile.css' %}" />

<div id="anav">
    <div class="wrapper">
        <div id="logo"><a href="/"><img src="{% static '/admin/img/AccuracyFbla2.png' %}" /> <h2>| Account</h2></a></div>
        <div id="profileicon"><img src="../static/admin/img/default-profile-picture-3.jpg"/></div>
        <div id="cog"><img src="{% static '/admin/img/if_Settings_1891011.png' %}"/></div>
        <div id="bell"><img src="{% static '/admin/img/notifications_white_192x192.png' %}"/></div>
    </div>

    <ul id="apptabs">
        <a href="/profile"><li style="background-color: white; color: black;">Dashboard</li></a>
        <a href="/bookkeeping"><li>Bookkeeping</li></a>
        <a href="/bookkeeping/report/"><li>Annual Report</li></a>
        <a href="/audit"><li>Internal Audit</li></a>
        <a href="/appointment"><li>Schedule Appointments</li></a>
    </ul>
</div>

<div id="subnav">
    <h1>Dashboard</h1>
    <h3>Welcome Back, {{ user.user }}</h3>
</div>

<div id="boxWrapper">

<div id="appBox" class="bookkeeping">
    <a href="/bookkeeping/"><h3>Bookkeeping</h3></a>
    <hr style="margin-left: 9%;"width="80%"/>
    <ul>
    {% for my_sub_item in my_list %}
    <a class="it" href="/bookkeeping/{{ my_sub_item.id }}"><li>{{ my_sub_item  }}</li></a>
    {% endfor %}
    </ul>
</div>

<div id="appBox" class="report">
   <h3>Annual Report</h3>
    <hr style="margin-left: 9%;"width="80%"/>
    <h4>We Haven't Recieved A Years Worth Of Information.
    Come Back With More Information.    :(</h4>
</div>

    </div>

<div id="boxWrapper">

<div id="appBox" class="audit">
   <h3>Internal Audit</h3>
    <hr style="margin-left: 9%;"width="80%"/>
    <h4>Learn More Here About  <b>Internal Audits</b></h4>
    <a href="/audit"><span class="button">Get Started</span></a>
</div>

<div id="appBox" class="taxes">
   <h3>File Your Taxes</h3>
    <hr style="margin-left: 9%; margin-bottom: 20%;"width="80%"/>
    {% if not user.ac_true == True %}
       <h4>Want To File Your Taxes? <b>Get The Pro Version</b></h4>
       <span class="button">Get Started</span>
    {% endif %}
    {% if user.ac_true  == True %}
     <p>Dope</p>
    {% endif %}
</div>

    </div>

{%endblock%}